* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5); /* Transparente para ahorrar fatiga visual */
    color: #ffffff;
}

#workspaces button {
    padding: 0 5px;
    color: #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#network, #disk, #battery, #clock {
    padding: 0 10px;
}

#network.disconnected {
    color: #f53c3c; /* Rojo si no hay internet */
}

#custom-calendar {
    color: #81a1c1; /* Un azul nórdico suave */
}

/* Si quieres que resalte cuando estés en clase (usando la clase del script) */
#custom-calendar.calendar {
    color: #a3be8c; /* Cambia a verde cuando hay clase activa */
}

