window {
    margin: 0px;
    border: 2px solid #64727D;
    background-color: rgba(43, 48, 59, 0.9);
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    border-radius: 10px;
}

#input {
    margin: 5px;
    border: none;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #ffffff;
}

#entry:selected {
    background-color: #64727D;
    border-radius: 5px;
}
